<?xml version="1.0" encoding="utf-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name></display-name>
	
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>framework.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>force</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<!--
	<filter>
		<filter-name>GZIPFilter</filter-name>
		<filter-class>framework.filter.GZIPFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GZIPFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>XSSFilter</filter-name>
		<filter-class>framework.filter.XSSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>XSSFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>JuminMaskFilter</filter-name>
		<filter-class>framework.filter.JuminMaskFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>JuminMaskFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>MinifyFilter</filter-name>
		<filter-class>framework.filter.MinifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MinifyFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	-->

	<servlet>
		<servlet-name>ActionServlet</servlet-name>
		<servlet-class>framework.action.ActionServlet</servlet-class>
		<init-param>
			<param-name>action-mapping</param-name>
			<param-value>action</param-value>
		</init-param>
		<!--<init-param>
			<param-name>default-servlet-name</param-name>
			<param-value>default</param-value>
		</init-param>-->
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ActionServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
